In [9]:
import pandas as pd
import os

folder_path = r'C:\Users\Trisha\OneDrive\Documents\GitHub\Micro-Gas-Turbine-electrical-energy-Prediction\Dataset\train'

In [16]:
merged_df = pd.DataFrame()

In [17]:
for file in os.listdir(folder_path):
    if file.endswith('.csv'):
        file_path = os.path.join(folder_path, file)
        df = pd.read_csv(file_path)
        merged_df = pd.concat([merged_df, df])

In [18]:
merged_df.to_csv('merged_file.csv', index=False)

In [19]:
merged_df

              time  input_voltage     el_power
0        810.07028          10.00  1228.791720
1        811.06938          10.00  1223.041745
2        812.06848          10.00  1244.960866
3        813.06758          10.00  1229.259058
4        814.06668          10.00  1248.117024
...            ...            ...          ...
11814  12632.84000           7.24  2358.536920
11815  12633.84000           7.24  2481.489028
11816  12634.84000           7.24  2327.054441
11817  12635.84000           7.24  2451.061029
11818  12636.84000           7.24  2336.952994

[52940 rows x 3 columns]

In [20]:
path = r'C:\Users\Trisha\OneDrive\Documents\GitHub\Micro-Gas-Turbine-electrical-energy-Prediction\Dataset\test'

In [21]:
test_merged_df = pd.DataFrame()

In [22]:
for file in os.listdir(path):
    if file.endswith('.csv'):
        file_path = os.path.join(path, file)
        df = pd.read_csv(file_path)
        test_merged_df = pd.concat([merged_df, df])

In [23]:
test_merged_df

              time  input_voltage     el_power
0       810.070280           10.0  1228.791720
1       811.069380           10.0  1223.041745
2       812.068480           10.0  1244.960866
3       813.067580           10.0  1229.259058
4       814.066680           10.0  1248.117024
...            ...            ...          ...
9790  10541.535214            3.0  2373.250274
9791  10542.534511            3.0  2429.362888
9792  10543.533807            3.0  2369.397892
9793  10544.533103            3.0  2419.959332
9794  10545.532399            3.0  2350.035327

[62735 rows x 3 columns]

In [24]:
test_merged_df.to_csv('test_merged_file.csv', index=False)

In [25]:
finalpath = r'C:\Users\Trisha\OneDrive\Documents\GitHub\Micro-Gas-Turbine-electrical-energy-Prediction\Dataset\Merged_dataset'

In [26]:
final_merged_df = pd.DataFrame()

In [28]:
for file in os.listdir(finalpath):
    if file.endswith('.csv'):
        file_path = os.path.join(finalpath, file)
        df = pd.read_csv(file_path)
        final_merged_df = pd.concat([merged_df, df])

In [34]:
final_merged_df.to_csv('final_merged_file.csv', index=False)
final_merged_df = final_merged_df.head(71225)

In [33]:
final_merged_df

             time  input_voltage     el_power
0       810.07028           10.0  1228.791720
1       811.06938           10.0  1223.041745
2       812.06848           10.0  1244.960866
3       813.06758           10.0  1229.259058
4       814.06668           10.0  1248.117024
...           ...            ...          ...
18280  2763.72000            5.0  1489.804659
18281  2764.78000            5.0  1406.428985
18282  2765.88000            5.0  1496.395814
18283  2766.96000            5.0  1413.733107
18284  2767.98000            5.0  1520.829291

[71225 rows x 3 columns]